In [3]:
import requests
import pandas as pd

In [2]:
url="https://fakestoreapi.com/products"

In [3]:
response=requests.get(url)

In [4]:
products=response.json()

In [5]:
df=pd.DataFrame(products)

In [6]:
df.to_csv("../data/products_raw.csv",index=False)
print("Product data fetched successfully")

Product data fetched successfully

In [7]:
df.head()

,id,title,price,description,category,image,rating
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,"{'rate': 3.9, 'count': 120}"
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...,"{'rate': 4.1, 'count': 259}"
2,3,Mens Cotton Jacket,55.99,great outerwear jackets for Spring/Autumn/Wint...,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...,"{'rate': 4.7, 'count': 500}"
3,4,Mens Casual Slim Fit,15.99,The color could be slightly different between ...,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...,"{'rate': 2.1, 'count': 430}"
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,"From our Legends Collection, the Naga was insp...",jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...,"{'rate': 4.6, 'count': 400}"

DROP ALL NULL VALUES

In [10]:
print(f"Before removing null values->\nTotal no. of rows are:{len(df)}")

Before remob=ving null values->
Total no. of rows are:20

In [11]:
df=df.dropna()

In [12]:
print(f"After removing null values->\nTotal no. of rows are:{len(df)}")

After removing null values->
Total no. of rows are:20

NO NULL ROWS

REMOVING DUPLICATE ROWS

Since rating is in unhashable form we will extract it first before droping duplicates

In [14]:
df['rating_rate']=df['rating'].apply(lambda x:x['rate'])
df['rating_count']=df['rating'].apply(lambda x:x['count'])

In [15]:
df=df.drop(columns=['rating'])

In [17]:
df.head(1)

,id,title,price,description,category,image,rating_rate,rating_count
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,3.9,120

In [18]:
df=df.drop_duplicates()

In [19]:
print(f"After removing duplicate rows->\nTotal no. of rows are:{len(df)}")

After removing duplicate rows->
Total no. of rows are:20

Therefore no duplicate rows found

REMOVE INVALID PRICES

In [20]:
df=df[df['price']>0]

KEEP ONLY NECESSARY COLUMNS OF USE

In [23]:
columns_to_keep=['id','title','price','description','category','rating_rate','rating_count']
df=df[columns_to_keep]

In [24]:
df.to_csv("../data/products_clean.csv",index=False)
print("Cleaned data saved")
df.head(1)

Cleaned data saved

,id,title,price,description,category,rating_rate,rating_count
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,3.9,120